.gradient-top
.gradient-bottom

.callback__text
  h2.title.title_h2 Мы получили Вашу заявку!
  p.subtitle После прохождения процедуры регистрации мы передадим Вам полный комплект документов, необходимых для ведения деятельности.
  p.subtitle При необходимости поможем получить лицензию или любые другие разрешительные документы в Кыргызстане.
