.main
  .main__col(style="background-image: url('images/dist/bg.webp')")

  .main__col 
    .wrapper
      .content
        include ../includes/header

        .main__hero  
          .container 
            h1.title.title_h1(data-aos="fade-left") РЕГИСТРАЦИЯ БИЗНЕСА И <br> ОТКРЫТИЕ СЧЕТА В <br> КЫРГЫЗСТАНЕ «ПОД КЛЮЧ»
            p.subtitle(data-aos="fade-left" data-aos-delay="50") Регистрируем компании всех форм собственности (ОсОО, ИП, ОАО, <br> ЗАО и Фонды).
            .btn.btn_accent.btn_big.btn-start-js.is-blicked(data-aos="fade-left" data-aos-delay="100") Расчет стоимости услуг
          
      

      include ../includes/footer