.question__item.called-js(data-name="messenger-list")
  .callback
    .callback__col
      include ../includes/callback-text
    .callback__col
      div
        h3.title.title_h3.title_white На какой мессенджер отправить <br> информацию о стоимости интересующих <br> вас услуг? 

        .callback__list   
          .callback__list-col
            .callback__item.trigger-js(data-name="whatsapp")
              .callback__item-icon   
                svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_5_2250)')
                    path(d='M16 30.3799C23.9419 30.3799 30.38 23.9417 30.38 15.9999C30.38 8.05802 23.9419 1.61987 16 1.61987C8.05815 1.61987 1.62 8.05802 1.62 15.9999C1.62 23.9417 8.05815 30.3799 16 30.3799Z' fill='white')
                    path(d='M21.493 18.2529C20.8725 17.9322 20.2187 17.6616 19.5898 17.3659C19.2692 17.216 18.9985 17.3034 18.7861 17.5533C18.5112 17.8739 18.253 18.2071 17.9907 18.5444C17.7866 18.8109 17.5576 18.8734 17.2369 18.7235C15.6002 17.9864 14.3342 16.837 13.3514 15.3419C13.2098 15.1295 13.2181 14.9546 13.3847 14.7672C13.6054 14.509 13.8345 14.2425 14.0385 13.9635C14.226 13.7178 14.3051 13.4512 14.1718 13.1556C13.8428 12.3685 13.518 11.5772 13.164 10.7985C13.0932 10.6485 12.9058 10.482 12.7559 10.4611C12.456 10.4153 12.127 10.4236 11.8272 10.4778C11.215 10.5861 10.8694 11.0442 10.5778 11.5564C9.89487 12.7683 10.0365 13.976 10.6153 15.1712C11.7856 17.5699 13.6513 19.2982 15.9459 20.5975C16.9828 21.1805 18.0864 21.5803 19.0026 21.6137C19.9854 21.6137 20.6476 21.4096 21.1973 21.0015C21.6388 20.6808 21.9844 20.2769 22.1093 19.7271C22.2718 19.065 22.0927 18.5611 21.493 18.2529Z' fill='#05CA47')
                    path(d='M16 0C7.16294 0 0 7.16293 0 16C0 24.8371 7.16294 32 16 32C24.8371 32 32 24.8371 32 16C32 7.16293 24.8371 0 16 0ZM18.0281 25.4867C15.8168 25.9656 13.6887 25.6825 11.6606 24.6996C11.4107 24.5747 11.2025 24.558 10.9443 24.6663C9.98647 25.0911 9.01614 25.4909 8.04998 25.8948C7.94586 25.9323 7.84591 25.974 7.66268 26.0364C7.90005 25.1244 8.0708 24.2665 8.33733 23.4503C8.57471 22.734 8.49558 22.1926 8.00833 21.5554C6.6632 19.7772 6.13848 17.7324 6.20094 15.5003C6.32588 11.1775 9.47007 7.22956 13.9927 6.29255C19.2691 5.20562 24.4123 8.56637 25.5284 13.7845C26.7069 19.3316 23.1671 24.3706 18.0281 25.4867Z' fill='#05CA47')
                  defs
                    clippath#clip0_5_2250
                      rect(width='32' height='32' fill='white')
              span WhatsApp

          .callback__list-col
            .callback__item.trigger-js(data-name="telegram")
              .callback__item-icon   
                svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_5_2256)')
                    path(d='M16 30.7882C24.1672 30.7882 30.7881 24.1673 30.7881 16C30.7881 7.83279 24.1672 1.21191 16 1.21191C7.83273 1.21191 1.21185 7.83279 1.21185 16C1.21185 24.1673 7.83273 30.7882 16 30.7882Z' fill='white')
                    path(d='M21.3514 11.8397L11.6481 17.9657L13.2848 22.9839L13.6054 19.5316L21.9178 12.0313C22.2801 11.7065 21.8387 11.5482 21.3514 11.8397Z' fill='#00A1E6')
                    path(d='M16 0C7.16294 0 0 7.16293 0 16C0 24.8371 7.16294 32 16 32C24.8371 32 32 24.8371 32 16C32 7.16293 24.8371 0 16 0ZM25.3951 10.2447L22.455 24.0999C22.2509 25.0828 21.6512 25.3201 20.8267 24.8621L16.3457 21.5513C15.292 22.5716 14.3467 23.4919 14.1926 23.6419C13.9427 23.8876 13.7428 24.0916 13.2972 24.0916C12.7142 24.0916 12.8183 23.8709 12.6143 23.3212L10.9651 18.2738L6.65487 16.9287C5.69703 16.6372 5.6887 15.9792 6.86726 15.5044L24.1333 8.84539C24.937 8.49141 25.6949 9.04112 25.3951 10.2447Z' fill='#00A1E6')
                  defs
                    clippath#clip0_5_2256
                      rect(width='32' height='32' fill='white')
              span Telegram

          .callback__list-col
            .callback__item.trigger-js(data-name="viber")
              .callback__item-icon   
                svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_5_2262)')
                    path(d='M16.0042 30.7672C24.1553 30.7672 30.7631 24.1594 30.7631 16.0082C30.7631 7.85708 24.1553 1.24927 16.0042 1.24927C7.853 1.24927 1.24518 7.85708 1.24518 16.0082C1.24518 24.1594 7.853 30.7672 16.0042 30.7672Z' fill='white')
                    path(d='M16.0042 0C7.16709 0 0.00415039 7.16293 0.00415039 16C0.00415039 24.8371 7.16292 32 16.0042 32C24.8454 32 32.0042 24.8454 32.0042 16.0083C32.0042 7.17126 24.8412 0 16.0042 0ZM16.5539 7.2962C20.9391 7.44612 24.7163 11.4565 24.658 15.7876C24.6496 16.2124 24.8079 16.8412 24.1707 16.8329C23.5669 16.8246 23.721 16.1791 23.6668 15.7543C23.0838 11.1567 20.9766 8.98282 16.4164 8.28318C16.0375 8.22904 15.4669 8.30817 15.4878 7.80426C15.5294 7.06715 16.2124 7.34201 16.5539 7.2962ZM22.0343 15.9542C21.343 16.0583 21.4763 15.4295 21.4055 15.0172C20.9432 12.2186 19.9604 11.1942 17.1452 10.5653C16.7288 10.4695 16.0833 10.532 16.1957 9.89901C16.2998 9.29516 16.8787 9.49922 17.3201 9.55335C20.1353 9.89068 22.4383 12.3352 22.4133 15.0172C22.3633 15.3337 22.5424 15.8751 22.0343 15.9542ZM19.8147 15.2837C19.5148 15.3212 19.3108 15.063 19.2816 14.7506C19.165 13.5929 18.557 12.9183 17.4034 12.7309C17.0578 12.6767 16.7204 12.5643 16.8787 12.0937C16.987 11.7772 17.2702 11.748 17.57 11.7397C18.8194 11.7064 20.2811 13.2015 20.2603 14.5008C20.2728 14.8589 20.2311 15.2296 19.8147 15.2837ZM24.7038 23.2587C24.2249 24.6205 22.5591 25.9865 21.1348 25.9698C20.9391 25.9157 20.5393 25.8532 20.1853 25.7033C13.9427 23.013 9.40759 18.6111 6.83393 12.2894C5.96771 10.1655 6.87141 8.38313 9.04944 7.64185C9.4409 7.50859 9.81987 7.50026 10.2072 7.64185C11.1359 7.97918 13.4846 11.2192 13.5388 12.1853C13.5762 12.9224 13.0765 13.3347 12.5726 13.672C11.6273 14.3175 11.6231 15.1254 12.0229 16.0375C12.9349 18.0906 14.5008 19.5065 16.5205 20.4185C17.2535 20.7475 17.9531 20.7184 18.4529 19.9604C19.3399 18.607 20.4352 18.6778 21.6304 19.5107C22.2259 19.9271 22.8423 20.3436 23.4086 20.8017C24.1874 21.4263 25.1702 21.9427 24.7038 23.2587Z' fill='#804AA1')
                  defs
                    clippath#clip0_5_2262
                      rect(width='32' height='32' fill='white')
              span Viber

          .callback__list-col
            .callback__item.trigger-js(data-name="phone")
              .callback__item-icon   
                svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_5_2266)')
                    path(d='M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z' fill='#D13980')
                    path(d='M11.929 14.736C13.0995 17.0312 14.9658 18.8975 17.261 20.068L19.041 18.288C19.1467 18.1818 19.2797 18.1069 19.4253 18.0716C19.5709 18.0363 19.7234 18.042 19.866 18.088C20.7982 18.3949 21.7736 18.5506 22.755 18.549C22.9696 18.549 23.1753 18.6343 23.327 18.786C23.4788 18.9377 23.564 19.1435 23.564 19.358V22.19C23.564 22.4046 23.4788 22.6104 23.327 22.7621C23.1753 22.9138 22.9696 22.999 22.755 22.999C19.1071 22.999 15.6086 21.55 13.0291 18.9706C10.4496 16.3913 9.00027 12.8929 9 9.24504C9 9.03048 9.08523 8.8247 9.23695 8.67299C9.38867 8.52127 9.59444 8.43604 9.809 8.43604H12.641C12.8556 8.43604 13.0613 8.52127 13.213 8.67299C13.3648 8.8247 13.45 9.03048 13.45 9.24504C13.4482 10.2271 13.6039 11.2032 13.911 12.136C13.957 12.2786 13.9627 12.4311 13.9274 12.5768C13.8921 12.7224 13.8172 12.8554 13.711 12.961L11.929 14.736Z' fill='white')
                  defs
                    clippath#clip0_5_2266
                      rect(width='32' height='32' fill='white')
              span Телефон

          .agree.agree-callback-js
            label(for="agree")
              div
                input#agree(type="checkbox" checked)
                .icon
                  svg
                    use(xlink:href='sprite.svg#check')
              p Я соглашаюсь на 
                a(href="https://tolt.kg/processing-data2" target="_blank") обработку персональных данных 
                | согласно  
                a(href="https://tolt.kg/processing-data1" target="_blank") политике конфиденциальности        

    include ../includes/dev
