.question__item.called-js(data-name="phone")

  .callback
    .callback__col
      include ../includes/callback-text
    
    .callback__col
      .callback__form   
        .callback__icon
          svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_5_2266)')
              path(d='M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z' fill='#D13980')
              path(d='M11.929 14.736C13.0995 17.0312 14.9658 18.8975 17.261 20.068L19.041 18.288C19.1467 18.1818 19.2797 18.1069 19.4253 18.0716C19.5709 18.0363 19.7234 18.042 19.866 18.088C20.7982 18.3949 21.7736 18.5506 22.755 18.549C22.9696 18.549 23.1753 18.6343 23.327 18.786C23.4788 18.9377 23.564 19.1435 23.564 19.358V22.19C23.564 22.4046 23.4788 22.6104 23.327 22.7621C23.1753 22.9138 22.9696 22.999 22.755 22.999C19.1071 22.999 15.6086 21.55 13.0291 18.9706C10.4496 16.3913 9.00027 12.8929 9 9.24504C9 9.03048 9.08523 8.8247 9.23695 8.67299C9.38867 8.52127 9.59444 8.43604 9.809 8.43604H12.641C12.8556 8.43604 13.0613 8.52127 13.213 8.67299C13.3648 8.8247 13.45 9.03048 13.45 9.24504C13.4482 10.2271 13.6039 11.2032 13.911 12.136C13.957 12.2786 13.9627 12.4311 13.9274 12.5768C13.8921 12.7224 13.8172 12.8554 13.711 12.961L11.929 14.736Z' fill='white')
            defs
              clippath#clip0_5_2266
                rect(width='32' height='32' fill='white')

        .input-wrap
          .label Введите телефон
          .input.input_phone
            input.phone-js.h100p.input-js(type="tel" name="phone" )
            .output-success Номер действительный! 
            .output-error Неверный номер. Повторите попытку.

        .back-btn.trigger-js.re-election-js(data-name="messenger-list") Выбрать другой мессенджер
        br
        button(type="submit").btn.btn_accent.btn_small.disabled Отправить 

    include ../includes/dev
        