.question__item.called-js(data-name="whatsapp")

  .callback
    .callback__col
      include ../includes/callback-text

    .callback__col
      .callback__form   
        .callback__icon
          svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_5_2250)')
              path(d='M16 30.3799C23.9419 30.3799 30.38 23.9417 30.38 15.9999C30.38 8.05802 23.9419 1.61987 16 1.61987C8.05815 1.61987 1.62 8.05802 1.62 15.9999C1.62 23.9417 8.05815 30.3799 16 30.3799Z' fill='white')
              path(d='M21.493 18.2529C20.8725 17.9322 20.2187 17.6616 19.5898 17.3659C19.2692 17.216 18.9985 17.3034 18.7861 17.5533C18.5112 17.8739 18.253 18.2071 17.9907 18.5444C17.7866 18.8109 17.5576 18.8734 17.2369 18.7235C15.6002 17.9864 14.3342 16.837 13.3514 15.3419C13.2098 15.1295 13.2181 14.9546 13.3847 14.7672C13.6054 14.509 13.8345 14.2425 14.0385 13.9635C14.226 13.7178 14.3051 13.4512 14.1718 13.1556C13.8428 12.3685 13.518 11.5772 13.164 10.7985C13.0932 10.6485 12.9058 10.482 12.7559 10.4611C12.456 10.4153 12.127 10.4236 11.8272 10.4778C11.215 10.5861 10.8694 11.0442 10.5778 11.5564C9.89487 12.7683 10.0365 13.976 10.6153 15.1712C11.7856 17.5699 13.6513 19.2982 15.9459 20.5975C16.9828 21.1805 18.0864 21.5803 19.0026 21.6137C19.9854 21.6137 20.6476 21.4096 21.1973 21.0015C21.6388 20.6808 21.9844 20.2769 22.1093 19.7271C22.2718 19.065 22.0927 18.5611 21.493 18.2529Z' fill='#05CA47')
              path(d='M16 0C7.16294 0 0 7.16293 0 16C0 24.8371 7.16294 32 16 32C24.8371 32 32 24.8371 32 16C32 7.16293 24.8371 0 16 0ZM18.0281 25.4867C15.8168 25.9656 13.6887 25.6825 11.6606 24.6996C11.4107 24.5747 11.2025 24.558 10.9443 24.6663C9.98647 25.0911 9.01614 25.4909 8.04998 25.8948C7.94586 25.9323 7.84591 25.974 7.66268 26.0364C7.90005 25.1244 8.0708 24.2665 8.33733 23.4503C8.57471 22.734 8.49558 22.1926 8.00833 21.5554C6.6632 19.7772 6.13848 17.7324 6.20094 15.5003C6.32588 11.1775 9.47007 7.22956 13.9927 6.29255C19.2691 5.20562 24.4123 8.56637 25.5284 13.7845C26.7069 19.3316 23.1671 24.3706 18.0281 25.4867Z' fill='#05CA47')
            defs
              clippath#clip0_5_2250
                rect(width='32' height='32' fill='white')

        .input-wrap
          .label Введите телефон WhatsApp
          .input.input_phone
            input.phone-js.h100p.input-js(name="whatsapp" type="tel" )
            .output-success Номер действительный! 
            .output-error Неверный номер. Повторите попытку.

        .back-btn.trigger-js.re-election-js(data-name="messenger-list") Выбрать другой мессенджер
        br
        button(type="submit").btn.btn_accent.btn_small.disabled Отправить 
    
    include ../includes/dev
