extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | TOLT
block main
  
  include includes/main
  
  
  form(action="telegram.php" method="POST").question

    include includes/question1

    include includes/question2
    
    include includes/question3
    
    include includes/question4
    
    include includes/messenger-list
    
    include includes/whatsapp

    include includes/telegram
    
    include includes/viber
    
    include includes/phone
    
    
    
  include includes/scripts 














