extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | main
block main
  .wrapper
    .content
        include includes/header

        
         
     

    include includes/footer


  include includes/scripts 