extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | main
block main

  svg(xmlns="http://www.w3.org/2000/svg" style="display: none")
  
    symbol#check(viewBox='0 0 18 18')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M14.7072 5.29289C15.0977 5.68342 15.0977 6.31658 14.7072 6.70711L8.04044 13.3738C7.64991 13.7643 7.01675 13.7643 6.62623 13.3738L3.29289 10.0404C2.90237 9.64992 2.90237 9.01675 3.29289 8.62623C3.68342 8.2357 4.31658 8.2357 4.70711 8.62623L7.33333 11.2524L13.2929 5.29289C13.6835 4.90237 14.3166 4.90237 14.7072 5.29289Z')

    symbol#ek(viewBox='0 0 18 18')
      path(d='M1.90794 17.4781C1.81794 17.4781 1.74594 17.4421 1.69194 17.3701L1.61994 17.2981C1.56594 17.2081 1.54794 17.1001 1.60194 17.0101C1.85394 16.5781 2.23194 16.1821 2.71794 15.8401C2.86194 15.7321 3.25794 15.4621 3.25794 15.4621C3.74394 15.1201 4.24794 14.7601 4.76994 14.4181C5.25594 14.0941 5.77794 13.7701 6.22794 13.4821C6.51594 13.3021 6.80394 13.1221 7.10994 12.9241C7.37994 12.7441 7.66794 12.5641 7.93794 12.3841L8.02794 12.3121C8.20794 12.1861 8.40594 12.0601 8.58594 11.9521C8.87394 11.7721 9.14394 11.5921 9.43194 11.4121C9.75594 11.1961 10.0979 10.9981 10.4219 10.7821C10.4759 10.7461 10.5299 10.7101 10.5839 10.6561C10.6379 10.6021 10.6919 10.5661 10.7639 10.5121C11.1779 10.2241 11.6099 9.93608 12.0419 9.63008L12.0959 9.59408C11.3759 9.79208 10.7279 9.90008 10.1159 9.93608C10.0619 9.93608 10.0079 9.93608 9.93594 9.93608C9.35994 9.93608 8.90994 9.77408 8.53194 9.46808C8.42394 9.66608 8.31594 9.88208 8.18994 10.0801C8.02794 10.3681 7.86594 10.6561 7.70394 10.9441C7.70394 10.9441 7.70394 10.9621 7.70394 10.9801C7.70394 11.0341 7.68594 11.1061 7.64994 11.1781C7.57794 11.3041 7.52394 11.3941 7.45194 11.5021C7.39794 11.5561 7.34394 11.6101 7.25394 11.6101H7.23594C7.16394 11.6101 7.10994 11.5921 7.05594 11.5381C7.03794 11.5201 7.01994 11.5021 7.00194 11.4841C6.89394 11.4121 6.76794 11.3041 6.73194 11.1421C6.69594 10.9261 6.73194 10.7281 6.82194 10.5301C7.09194 10.0081 7.37994 9.50408 7.64994 9.00008L7.93794 8.47808C7.93794 8.46008 7.95594 8.46008 7.95594 8.44208C7.97394 8.42408 7.99194 8.40608 7.99194 8.37008C8.00994 8.29808 8.02794 8.22608 8.02794 8.15408C7.19994 8.92808 6.35394 9.50408 5.47194 9.95408C4.91394 10.2241 4.39194 10.3681 3.88794 10.3681C3.61794 10.3681 3.32994 10.3321 3.05994 10.2421C2.35794 10.0261 1.90794 9.36008 1.96194 8.58608V8.53208C1.96194 8.44208 1.97994 8.31608 2.01594 8.19008C2.06994 8.04608 2.06994 8.04608 1.99794 7.99208C1.79994 7.83008 1.76394 7.66808 1.78194 7.56008C1.79994 7.43408 1.87194 7.27208 2.12394 7.14608C2.17794 7.11008 2.23194 7.09208 2.30394 7.07408L2.37594 7.03808C2.42994 7.02008 2.46594 7.02008 2.51994 7.02008C2.55594 7.02008 2.59194 7.02008 2.62794 7.03808C3.09594 6.39008 3.61794 5.88608 4.24794 5.45408C4.85994 5.04008 5.57994 4.60808 6.47994 4.60808C6.56994 4.60808 6.65994 4.60808 6.74994 4.62608C6.85794 4.64408 6.96594 4.71608 6.98394 4.84208C7.00194 4.95008 6.96594 5.07608 6.85794 5.13008L6.83994 5.14808C6.76794 5.18408 6.69594 5.23808 6.60594 5.27408C6.47994 5.32808 6.35394 5.40008 6.24594 5.45408C5.41794 5.86808 4.62594 6.24608 4.04994 6.91208C3.97794 6.98408 3.92394 7.05608 3.85194 7.14608C3.90594 7.12808 3.95994 7.11008 4.01394 7.09208C4.96794 6.76808 5.95794 6.39008 6.76794 5.70608C6.96594 5.54408 7.12794 5.31008 7.23594 5.13008C7.25394 5.09408 7.27194 5.07608 7.27194 5.07608C7.27194 5.07608 7.25394 5.05808 7.23594 5.05808C7.12794 5.00408 7.05594 4.87808 7.09194 4.75208C7.12794 4.62608 7.23594 4.55408 7.36194 4.55408C7.64994 4.57208 7.84794 4.66208 7.99194 4.82408C8.11794 4.98608 8.15394 5.22008 8.08194 5.47208C8.00994 5.77808 7.79394 6.04808 7.61394 6.22808C7.10994 6.76808 6.47994 7.09208 5.84994 7.39808C5.23794 7.70408 4.49994 8.04608 3.67194 8.22608C3.49194 8.26208 3.29394 8.29808 3.09594 8.29808C3.07794 8.29808 3.07794 8.29808 3.05994 8.29808L3.04194 8.38808C2.93394 8.73008 2.91594 8.96408 3.02394 9.12608C3.13194 9.28808 3.41994 9.37808 3.81594 9.37808C3.85194 9.37808 3.90594 9.37808 3.94194 9.37808C4.60794 9.34208 5.18394 9.07208 5.84994 8.64008C6.73194 8.08208 7.57794 7.38008 8.44194 6.48008C8.81994 6.08408 9.17994 5.65208 9.59394 5.14808C10.2059 4.41008 10.7999 3.65408 11.3759 2.91608C11.7539 2.44808 12.1139 1.94408 12.4739 1.47608C12.6359 1.26008 12.7799 1.06208 12.9419 0.846084L12.9599 0.828084C12.9959 0.774084 13.0319 0.684084 13.1579 0.630084C13.1759 0.612084 13.1939 0.612084 13.2119 0.594084C13.3019 0.540084 13.4279 0.486084 13.5539 0.486084C13.6079 0.486084 13.6619 0.504084 13.7159 0.522084C13.8599 0.594084 13.9499 0.702084 13.9859 0.846084C14.0219 0.990084 14.0039 1.15208 13.8959 1.29608C13.7699 1.49408 13.6439 1.69208 13.5179 1.89008C13.2479 2.30408 12.9779 2.73608 12.6899 3.15008C12.3839 3.60008 12.0599 4.05008 11.7539 4.50008C12.7979 4.12208 13.8599 3.74408 14.9219 3.38408C15.0659 3.33008 15.2099 3.33008 15.3179 3.33008C15.3539 3.33008 15.4979 3.33008 15.5339 3.33008C15.5519 3.33008 15.5879 3.33008 15.6059 3.33008C15.7499 3.33008 15.8579 3.42008 15.8759 3.52808L15.9119 3.63608C15.9479 3.76208 15.8759 3.88808 15.7499 3.94208C15.7139 3.96008 15.6779 3.97808 15.6419 3.99608C15.5519 4.05008 15.4439 4.08608 15.3179 4.12208C14.4899 4.30208 13.6979 4.57208 12.9419 4.93208C12.7979 5.00408 12.6539 5.05808 12.5099 5.13008H12.4919C12.1139 5.29208 11.7359 5.47208 11.3939 5.67008C10.7459 6.04808 10.2599 6.40808 9.97194 6.98408C9.79194 7.34408 9.55794 7.68608 9.34194 8.02808L9.35994 8.06408C9.26994 8.20808 9.16194 8.35208 9.07194 8.51408C9.03594 8.56808 9.03594 8.60408 9.03594 8.65808C9.05394 8.71208 9.08994 8.74808 9.16194 8.80208C9.41394 8.94608 9.70194 9.01808 10.0439 9.01808C10.1339 9.01808 10.2239 9.01808 10.3139 9.00008C11.2499 8.91008 12.2219 8.67608 13.4459 8.20808L13.6079 8.13608C14.2739 7.88408 14.9759 7.61408 15.5879 7.23608C15.6959 7.16408 15.8039 7.12808 15.9119 7.12808C16.0919 7.12808 16.2539 7.23608 16.3439 7.41608C16.5419 7.81208 16.1999 8.01008 16.0739 8.08208L16.0379 8.10008C15.5699 8.38808 15.0839 8.69408 14.6339 9.00008C14.3819 9.16208 14.1479 9.34208 13.9319 9.50408C13.6619 9.70208 13.3739 9.90008 13.0859 10.0981C12.5279 10.4581 11.9699 10.8361 11.4299 11.1961L11.3939 11.2321C10.9799 11.5021 10.5839 11.7721 10.1699 12.0421C9.93594 12.2041 9.70194 12.3661 9.46794 12.5101C9.17994 12.7081 8.89194 12.9061 8.60394 13.0861C8.27994 13.3021 7.93794 13.5181 7.61394 13.7161C7.19994 13.9681 6.78594 14.2381 6.37194 14.5261C5.47194 15.1201 4.60794 15.7141 3.59994 16.4341C3.38394 16.5781 3.16794 16.7401 2.96994 16.8841C2.77194 17.0281 2.59194 17.1541 2.41194 17.2981C2.30394 17.3701 2.19594 17.4061 2.10594 17.4601C2.06994 17.4781 2.03394 17.4961 1.99794 17.5141C1.97994 17.4781 1.94394 17.4781 1.90794 17.4781Z')

    symbol#arrow-left(viewBox='0 0 18 18')
      path(d='M15 8.25006V9.75006H6L10.125 13.8751L9.06 14.9401L3.12 9.00006L9.06 3.06006L10.125 4.12506L6 8.25006H15Z')
    
    symbol#arrow-right(viewBox='0 0 18 18')
      path(d='M3 9.74994V8.24994L12 8.24994L7.875 4.12494L8.94 3.05994L14.88 8.99994L8.94 14.9399L7.875 13.8749L12 9.74994L3 9.74994Z')

    symbol#angle-down(viewBox='0 0 18 18')
      path(d="M8.30104 13.1054L2.2767 6.76448C2.09739 6.56976 1.99802 6.30865 2.00003 6.03749C2.00204 5.76633 2.10527 5.50688 2.28744 5.31513C2.46961 5.12339 2.71611 5.01473 2.97373 5.01262C3.23135 5.0105 3.47943 5.1151 3.66442 5.30383L8.99446 10.9159L14.3219 5.30383C14.5059 5.10964 14.7557 5.00035 15.0162 5C15.2768 4.99965 15.5269 5.10827 15.7113 5.30197C15.8958 5.49566 15.9997 5.75856 16 6.03284C16.0003 6.30711 15.8971 6.57029 15.7131 6.76448L9.68876 13.1054C9.50473 13.2991 9.25514 13.4079 8.9949 13.4079C8.73467 13.4079 8.48508 13.2991 8.30104 13.1054Z")


  div(style="display: flex; flex-wrap: wrap")
    each item in icons
      .icon
        svg(fill="#000")
          use(xlink:href='sprite.svg#'+item.icon)
      
        


  include includes/scripts 